/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/app/Http/Controllers/TestController.php
.padawan
.phpintel
*.sublime-project
*.sublime-workspace
/tags
*.swp
resources/views/slack.blade.php
.vscode
dump.sql
.DS_Store
/storage
dump.rdb
se/App/Jobs/ImmediateActionJob.php

